@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Satisfy&family=Syne:wght@400..800&display=swap');
.addcandidate-main{
    background-color: white;
    border-radius: 5px;
    border: grey solid 1px;
}

.formsection{
    border: 1px solid grey;
    padding: 2%;
    border-radius: 5px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
   
}
.tablesection{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
.tablesection td{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.formcontrol{
    border: #83878ba6 1px solid;
}
Form{
    font-family: "Syne", sans-serif;
 
}