@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.interviewalert-main{
    height: 53%;
    width: 100%;
    background-color: white;
    background-color: rgb(255, 255, 255);
    color: rgb(42, 53, 71);
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;          /* "auto" or "thin" */
    /* scrollbar-color: grey darkgrey; */
    scroll-behavior: smooth;

    
}






.interviewalert-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.candidate-interviewlist{
    width: 100%;
    padding: 1rem;
}

.datalist{
    display: flex;
    justify-content: space-between;
}

.dataicons{
    color: #416969;
}